@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
header h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Use Montserrat here */
}

h2 {
    font-size: 1.4em; 
    color: #343a40; /* or any color you prefer */
    font-family: 'Lato', sans-serif; /* Use Lato here */
}


.tickerContainer {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

.deleteButton {
    color: #b02020;
    cursor: pointer;
    margin-left: 5px;
}


header {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


header h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Use Montserrat here */
}

main {
    padding: 20px;
}

#buttonsContainer {
    text-align: center; /* Centers the content inside the container */
}

#clearSetsButton {
    display: inline-block; /* Ensures the link behaves as an inline element */
    color: inherit; /* Or any color you prefer */
    text-decoration: underline; /* Adds underline to indicate it's a link */
    cursor: pointer; /* Changes cursor on hover */
    margin-right: 10px; /* Spacing between Clear Sets and Pass button */
}

body {
    background-image: url('bg.png'); /* Replace with your image path */
    background-size: cover; /* This ensures that your image covers the whole page */
    background-repeat: no-repeat; /* This will prevent the image from tiling */
    background-position: center center; /* This centers the image on the page */
}
#passButton {
    padding: 10px 20px;
    background-color: #b02020; /* Different color to distinguish it */
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block; /* To align with Clear Sets button */
}

#passButton:hover {
    background-color: #b02020;
}



#tickerInputSection {
    margin-bottom: 20px;
}

#tickerForm {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#tickerForm input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

.questionLabel {
    font-weight: bold;
    font-size: 1.25rem; /* Adjusts the size of the font relative to the root element */
}


#tickerForm button {
    padding: 10px 20px;
    background-color: #42bf3f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#tickerForm button:hover {
    background-color: #7ee48a;
}

#scoreDisplay {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.top-score-display {
    font-size: 0.8em; /* Smaller font size */
    color: #666; /* Example color, adjust as needed */
    margin-top: 5px; /* Spacing from the button */
}

#questionSection {
    text-align: center;
    margin-bottom: 20px;
}

#setsLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-top: 20px;
}

@keyframes flashAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.flash {
    animation: flashAnimation 1s;
}

#stockCard {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: auto;
    max-width: 300px;
}


.answerButton {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answerButton:hover {
    background-color: #138496;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background: #343a40;
    color: #fff;
}
#answerOptions .answersHeader {
    text-align: center; /* Center the header text */
    margin-bottom: 10px; /* Add some space below the header */
}

#answerOptions .answersButtons {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Add some space between the buttons */
}

#answerOptions #passButton {
    display: block; /* Make the button a block element */
    margin: 10px auto; /* Center the button and add margin for spacing */
    /* Add any additional styling you need here */
}

